<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Logowanie i Rejestracja</title>
  </head>
  <body>
    <h1>Witamy w pracy!</h1>
    <div id="login-form">
      <h2>Logowanie</h2>
      <form action="login.php" method="post">
        <label for="Twoje ID:">ID:</label>
        <input type="text" id="user id" name="user id">
        <br>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Zaloguj się">
      </form>
    </div>
    <div id="register-form">
      <h2>Rejestracja</h2>
      <form action="register.php" method="post">
        <label for="name">imię:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="surname">nazwisko:</label>
        <input type="text" id="surname" name="surname">
        <br>
        <label for="email">Adres e-mail:</label>
        <input type="email" id="email" name="email">
        <br>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="password2">Powtorz hasło:</label>
        <input type="password2" id="password2" name="password2">
        <br>
        <input type="submit" value="Zarejestruj się">
      </form>
    </div>
  </body>
</html>
