body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    font-family: 'Century Gothic', sans-serif;
    color: #45a049;
    font-size: 30px;
    margin-top: 80px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#login-form, #register-form {
    height: 520px;
    width: 45%;
    margin: 0 2%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    background-color: #fff;
}

#login-form {
    margin-right: 2%;
}

h2 {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 6px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
